.bottom-fixed-bar{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2em;
    display: flex;
    justify-content: flex-end;
    background-color: gray;
    z-index: 150;
}


@media (max-width: 600px){
    .bottom-fixed-bar{
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 2em;
        display: flex;
        justify-content: flex-end;
        background-color: gray;
        z-index: 150;
        font-size: 0.7rem;
    }
}