.backdrop {
    position: absolute;
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 101;
    background-color: gray;
    opacity: 0.3;
    
}